<template>
  <q-layout>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import {Vue, Component} from 'vue-property-decorator'
@Component({
  name: 'BlankLaoyout'
})

export default class BlankLaoyout extends Vue{
}
</script>
